@page
@using Shopping.Admin.Extensions
@model Shopping.Admin.Pages.HomePage.HomePagePicturesModel
@{
    var counter = 0;
}
<!-- FontAwesome Icons -->
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
<link rel="stylesheet" href="~/assets/css/richtexteditor.css" />
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="nav-align-top mb-4">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <button type="button"
                            class="nav-link active"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-top-home"
                            aria-controls="navs-top-home"
                            aria-selected="true">
                        Slider
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button"
                            class="nav-link"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-top-profile"
                            aria-controls="navs-top-profile"
                            aria-selected="false">
                        Content
                    </button>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="navs-top-home" role="tabpanel">
                    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"></li>
                            <li data-bs-target="#carouselExample" data-bs-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner">
                            @{
                                foreach (var item in Model.contentCatalogModels)
                                {
                                    if (counter == 0)
                                    {
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="@StaticPaths.StaticPathOfImages@item.ContentImage" alt="@item.ContentTitle" width="500px" height="1000px" />
                                            <div class="carousel-caption d-none d-md-block">
                                                @if (!string.IsNullOrEmpty(item.ButtonHtml))
                                                {
                                                    @Html.Raw(item.ButtonHtml)
                                                }
                                                else
                                                {
                                                    @Html.Raw(item.ButtonText)
                                                }
                                                <p style="@item.ContentTitleStyleHtml">@Html.Raw(item.ContentHtml)</p>
                                                <p style="@item.ContentTitleStyleHtml">@Html.Raw(item.ContentHtml2)</p>
                                                <div class="btn-group" role="group" aria-label="First group">
                                                    <button type="button" id="editButton" class="btn btn-outline-secondary" data-bs-toggle="modal"
                                                    data-bs-target="#exLargeModal" onclick="editButtonFunction('@item.Id')">
                                                        <i class="tf-icons bx bx-edit"></i>
                                                    </button>
                                                    @if (item.IsActive && !item.IsDeleted)
                                                    {
                                                        <button type="button" class="btn btn-outline-secondary active">
                                                            <i class="tf-icons bx bx-check"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-outline-secondary">
                                                            <i class="tf-icons bx bx-x"></i>
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" class="btn btn-outline-secondary">
                                                            <i class="tf-icons bx bx-check"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-outline-secondary active">
                                                            <i class="tf-icons bx bx-x"></i>
                                                        </button>
                                                    }
                                                    <button type="button" class="btn btn-outline-secondary">
                                                        <i class="tf-icons bx bx-zoom-in"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="@StaticPaths.StaticPathOfImages@item.ContentImage" alt="@item.ContentTitle" width="700px" height="500px" />
                                            <div class="carousel-caption d-none d-md-block">
                                                @if (!string.IsNullOrEmpty(item.ButtonHtml))
                                                {
                                                    @Html.Raw(item.ButtonHtml)
                                                }
                                                else
                                                {
                                                    @Html.Raw(item.ButtonText)
                                                }
                                                <p style="@item.ContentTitleStyleHtml">@Html.Raw(item.ContentHtml)</p>
                                                <p style="@item.ContentTitleStyleHtml">@Html.Raw(item.ContentHtml2)</p>
                                                <div class="btn-group" role="group" aria-label="First group">
                                                    <button type="button" id="editButton" class="btn btn-outline-secondary" data-bs-toggle="modal"
                                                    data-bs-target="#exLargeModal" onclick="editButtonFunction('@item.Id')">
                                                        <i class="tf-icons bx bx-edit"></i>
                                                    </button>
                                                    @if (item.IsActive && !item.IsDeleted)
                                                    {
                                                        <button type="button" class="btn btn-outline-secondary active">
                                                            <i class="tf-icons bx bx-check"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-outline-secondary">
                                                            <i class="tf-icons bx bx-x"></i>
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" class="btn btn-outline-secondary">
                                                            <i class="tf-icons bx bx-check"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-outline-secondary active">
                                                            <i class="tf-icons bx bx-x"></i>
                                                        </button>
                                                    }
                                                    <button type="button" class="btn btn-outline-secondary">
                                                        <i class="tf-icons bx bx-zoom-in"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    }



                                    counter++;
                                }
                            }
                        </div>
                        <a class="carousel-control-prev" href="#carouselExample" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExample" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                </div>
                <div class="tab-pane fade" id="navs-top-profile" role="tabpanel">
                    <p>
                        Donut dragée jelly pie halvah. Danish gingerbread bonbon cookie wafer candy oat cake ice
                        cream. Gummies halvah tootsie roll muffin biscuit icing dessert gingerbread. Pastry ice cream
                        cheesecake fruitcake.
                    </p>
                    <p class="mb-0">
                        Jelly-o jelly beans icing pastry cake cake lemon drops. Muffin muffin pie tiramisu halvah
                        cotton candy liquorice caramels.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exLargeModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel4">Başlık Düzenleme</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row g-2">
                        <div class="col mb-0">
                            <img src="" alt="Gorsel" id="pictureArea" style="width:50px;height:50px" />
                            <label for="formFile" class="form-label">Görsel Değiştirme</label>
                            <input class="form-control" type="file" id="pictureChange" />
                        </div>
                        <div class="col mb-0">
                            <label for="buttonTitle" class="form-label">Button Title</label>
                            <input type="text" id="buttonTitle" class="form-control" placeholder="Button Title" />
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col mb-3">
                                <label for="nameExLarge" class="form-label">Title 1</label>
                                <div class="containerOfRichTextEditor">
                                    <div class="optionsOfRichTextEditor">
                                        <!-- Text Format -->
                                        <button id="bold" class="option-button format">
                                            <i class="fa-solid fa-bold"></i>
                                        </button>
                                        <button id="italic" class="option-button format">
                                            <i class="fa-solid fa-italic"></i>
                                        </button>
                                        <button id="underline" class="option-button format">
                                            <i class="fa-solid fa-underline"></i>
                                        </button>
                                        <button id="strikethrough" class="option-button format">
                                            <i class="fa-solid fa-strikethrough"></i>
                                        </button>
                                        <button id="superscript" class="option-button script">
                                            <i class="fa-solid fa-superscript"></i>
                                        </button>
                                        <button id="subscript" class="option-button script">
                                            <i class="fa-solid fa-subscript"></i>
                                        </button>
                                        <!-- List -->
                                        <button id="insertOrderedList" class="option-button">
                                            <div class="fa-solid fa-list-ol"></div>
                                        </button>
                                        <button id="insertUnorderedList" class="option-button">
                                            <i class="fa-solid fa-list"></i>
                                        </button>
                                        <!-- Undo/Redo -->
                                        <button id="undo" class="option-button">
                                            <i class="fa-solid fa-rotate-left"></i>
                                        </button>
                                        <button id="redo" class="option-button">
                                            <i class="fa-solid fa-rotate-right"></i>
                                        </button>
                                        <!-- Link -->
                                        <button id="createLink" class="option-button">
                                            <i class="fa fa-link"></i>
                                        </button>
                                        <button id="unlink" class="option-button">
                                            <i class="fa fa-unlink"></i>
                                        </button>
                                        <!-- Alignment -->
                                        <button id="justifyLeft" class="option-button align">
                                            <i class="fa-solid fa-align-left"></i>
                                        </button>
                                        <button id="justifyCenter" class="option-button align">
                                            <i class="fa-solid fa-align-center"></i>
                                        </button>
                                        <button id="justifyRight" class="option-button align">
                                            <i class="fa-solid fa-align-right"></i>
                                        </button>
                                        <button id="justifyFull" class="option-button align">
                                            <i class="fa-solid fa-align-justify"></i>
                                        </button>
                                        <button id="indent" class="option-button spacing">
                                            <i class="fa-solid fa-indent"></i>
                                        </button>
                                        <button id="outdent" class="option-button spacing">
                                            <i class="fa-solid fa-outdent"></i>
                                        </button>
                                        <!-- Headings -->
                                        <select id="formatBlock" class="adv-option-button">
                                            <option value="H1">H1</option>
                                            <option value="H2">H2</option>
                                            <option value="H3">H3</option>
                                            <option value="H4">H4</option>
                                            <option value="H5">H5</option>
                                            <option value="H6">H6</option>
                                        </select>
                                        <!-- Font -->
                                        <select id="fontName" class="adv-option-button"></select>
                                        <select id="fontSize" class="adv-option-button"></select>
                                        <!-- Color -->
                                        <div class="input-wrapper">
                                            <input type="color" id="foreColor" class="adv-option-button" />
                                            <label for="foreColor">Font Color</label>
                                        </div>
                                        <div class="input-wrapper">
                                            <input type="color" id="backColor" class="adv-option-button" />
                                            <label for="backColor">Highlight Color</label>
                                        </div>
                                        <div id="text-input" contenteditable="true"></div>
                                        <div id="text-input2" contenteditable="true"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="~/assets/js/richtexteditor.js"></script>
